.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

input,
textarea,
.file,
.error {
    resize: none;
    margin-top: 20px;
    width: calc(100% - 40px);
    padding: 20px;
    background: rgb(40, 40, 48);
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    border-radius: 15px;
}

.file {
    width: 100%;
    padding: 0;
}

.filename {
    background-color: #425375;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}

.file-content {
    padding: 10px;
    padding-bottom: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.file-content > textarea {
    padding: 0;
    margin: 0;
    font-family: var(--vp-font-family-base);
    max-height: unset;
    transition: all .5s;
}

textarea {
    height: 20vh;
    min-height: 20vh;
    max-height: 65vh;
    box-sizing: border-box;
    width: 100%;
}