build
__pycache__
radonmc.egg-info
testing
.vscode
.stuff
test.mcfunction
dist
nuitka-crash-report.xml
main.spec
node_modules
venv
docs/.vitepress/cache
docs/.vitepress/dist
examples/*/data
examples/*/pack.mcmeta
examples/radon_test